@font-face {
  font-family: "Chomsky";
  src: url(Fonts/chomsky/Chomsky.otf);
}

#Header1 {
  font-family: Chomsky,'Gill Sans';
  text-align: center;
  font-size: 6em;
  color: #000000;
}
a:link {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(0, 0, 0)(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}

#Headlines {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
#Headlines2 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.buttons{
  text-align: center;
}
#Rectangle {
  width: 100%;
  height: 25px;
  text-align: center;
}

b {
  text-align: center;
  font-size: 12px;
}

p {
  text-align: center;
  font-size: 16px;
  margin: 10px 0;
}

i {
  text-align: center;
  font-style: italic;
  font-size: 14px;
  color: #666;
}
active {
  background-color: #04AA6D;
  color: white;
}
